[Unit]
Description=Prometheus Node Exporter
Documentation=https://prometheus.io
After=network.target {{ prometheus_node_exporter_service_extra_after|default("") }}
Wants=network.target {{ prometheus_node_exporter_service_extra_wants|default("") }}

StartLimitIntervalSec=14400
StartLimitBurst=10

[Service]
Restart=on-abnormal
TimeoutStopSec=5s

WorkingDirectory=/tmp

User=root
Group=root

ProtectSystem=strict
ProtectHome=true
ProtectHostname=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
PrivateTmp=true
PrivateUsers=true
MemoryDenyWriteExecute=true
LockPersonality=true

RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK
RestrictNamespaces=true

SystemCallArchitectures=native
SystemCallFilter=@system-service adjtimex
CapabilityBoundingSet=

MemoryAccounting=true
MemoryMax={{ prometheus_node_exporter_memory_limit|default('32M') }}
LimitNOFILE={{ prometheus_node_exporter_limit_nofile|default('4096') }}
LimitNPROC={{ prometheus_node_exporter_limit_nproc|default('512') }}

ExecStart=/usr/bin/prometheus-node-exporter \
{% for item in prometheus_node_exporter_listen_addresses %}
	--web.listen-address="{{ item }}" \
{% endfor %}
{% for item in prometheus_node_exporter_enabled_collectors|default([]) %}
	--collector.{{ item }} \
{% endfor %}
{% for item in prometheus_node_exporter_disabled_collectors|default([]) %}
	--no-collector.{{ item }} \
{% endfor %}
	--log.level=info

[Install]
WantedBy=multi-user.target
